body{
    font-family: 'Montserrat', sans-serif;
    color: #343842;
} 
a{
    color: #343842;
}
a:hover{
    color: #14a5eb; 
    cursor: pointer;
}
button:focus, input:focus{
    outline: 0;
}
ul{
    list-style-type: none;
}
h1{
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    font-size: 47px;
}
a:hover{
    color: #006c9c;
    transition-duration: 0.1s;
}
a:hover, a:focus{
    text-decoration: none;
}
/*NAVBAR*/
#nav{
    height: 75px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
.btn-menu{  
    display: none;
    background-color: transparent;
    border: none;
}
.menu-icon{
  font-size: 27px;
}
.nav-logo{   
    width: 21.4%;
    font-family: 'Pacifico',sans-serif;    
    font-size: 35px;
    text-align:right;
    text-transform: capitalize;
}
.nav-logo a:hover, .nav-logo a:focus{
    color: #343842;
}
.nav-content{
    margin-left: 10.9%;
    width: 45%;
}
.nav-content > ul{
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-content > ul > li{    
    width: 50px; 
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
    font-size: 14px;    
}
.nav-content > ul > li:nth-child(n+2):nth-child(-n+3){
    width: 66px;
}
.nav-content > ul > li:nth-child(6){
    width: 36px;
}
.nav-content > ul > li:nth-child(8){
     width: 36px;
}
.nav-icons{
   display: flex;
   justify-content: space-between;
   height: 30px;
   width: 90px; 
   margin-left: 76px;
}
.nav-icon-search, .nav-icon-basket{
    font-size: 24px;
    background-color: transparent;
    border: none;
}
.nav-icon-search:hover, .nav-icon-basket:hover{
   cursor: pointer;
   transition-duration: 0.5s;
}

/*CHANGED NAV AFTER SCROLL*/
.headhesive{
    position: fixed;
    width: 100%;
    transform: translateY(-100%);
    transition: 0.3s;
    background-color: #fff;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
}
.headhesive--stick{
    transform: translateY(0);
    height: 50px !important;
    z-index: 9999;
}

/*TOGGLE-MENU*/
.mob-menu{
    width: 270px;
    background-color: white;
    text-transform: capitalize;
    font-size: 15px;
    display: none;
}
#toggle-menu{
    margin-top: -25px;
    z-index: 9998;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
}
#toggle-menu ul{
    margin-top: 25px;
}
#toggle-menu ul > li > div{
    width: 240px;
    margin-left: -20px;
    margin-bottom: 25px;
    display: flex;
    justify-content:space-between;
    align-items: center;   
    flex-wrap: wrap;
}
#toggle-menu ul li:first-child div a{
    color: #14a5eb; 
}
#toggle-menu ul > li > div i{
    font-size: 23px;
    
}
#toggle-menu ul > li > div i:hover{
    cursor: pointer;
}
.sub_list{
    display: none;
}
.sub_list li{
  margin-left: -15px;
}
.sub_list li:nth-child(n+2){
   margin-top: 20px;
}
.trans{
    transform: rotateX(180deg);
    transition: .5s;
}


/*HEADER*/
#header{
    height: 768px;
    width: 100%;
    background-image: url(../img/header-1-min.jpg);
    background-size: cover;
}
.header-els-wrapper{
    height: 350px;
    width: 1000px;
    margin: 130px auto 0; 
    display: block;
    text-align: center;
}
.header-els-wrapper h1{
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
}
.header-els-wrapper h1 small{
    letter-spacing: 0.06em;
    font-weight: normal;
    color: #38424a;
    font-size: 21px;
    text-transform: uppercase;
}
.header-els-wrapper h1 span{
    letter-spacing: 0.02em;
    font-size: 58px;
    font-weight: 400;
}
.tagline-text{   
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    color: #616161;
    line-height: 1.4;
    font-weight: 400;
    color: #38424a;
}
.btns-wraper{
    width: 500px;
    display: inline-block;    
}
.btn1{
    color: #252525;
    text-align: center;
    height: 48px;
    text-transform: uppercase;  
    border-radius: 40px;
    padding: 0 25px;
    font-size: 15px;
    letter-spacing: 0.1em;
    background-color: transparent;
    border-color: rgba(0,0,0,0.3);   
    font-weight: 400;
}
.btn1:hover{
    background-color: #14a5eb;
    color: white;
    border-color: transparent;
    box-shadow: 0 9px 21px 0 rgba(0,0,0,0.15);
    transition: .2s all ease;
}
.btn1:first-child{
    margin-right: 15px;
}

/*BODY*/
#about_us{
    height: 714px;
    width: 100%;
    background-color: #fff;
    
}
#about_us h1{
    display: block;
    width: 600px;
    margin: 80px auto 25px auto;
    margin-top: 80px;
}
#about_us p{
    display: block; 
    width: 80%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 23px;
    line-height: 30px;
    font-weight: 300;
    color: #546e7a;
}
#about_us img{
    height: 531px;
    width: 905px;
    margin: 0 auto;
    margin-top: 47px;
}

#features{
    height: 530px;
    width: 100%;
    background-color: #f5f5f5;  
    padding-top: 25px;
}
#features-top{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#features-top p{
    margin: 0 auto;
    margin-top: 20px;

    line-height: 25px;
    font-size: 17px;  
    color: #546e7a;
} 
#features-bot{
    margin-top: 70px;
    height: 270px;
}
.features-subblock{ 
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.features-subblock i{
    font-size: 70px;
    color: #14a5eb;
}
.features-subblock h3{
    font-size: 20px;
}
.features-subblock p{
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
    color: #546e7a;
}

/*PROGRESS*/
#progress {
    height: 400px;
    padding-top: 50px;
}
.left-progress {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.left-progress p{
    margin-top: 10px;
    width: 77%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.right-progress {
    height: 200px;
    margin-top: 80px;
}
.progress-subblock:nth-child(n+2){
    margin-top: 3px;
}
.progress-subblock p{
    text-transform: uppercase;
    color: #a7b0b4;
    font-size: 15px;
}
.progress-line{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.progress{
    height: 10px;
    width: 93%;
}
.progress-bar{
    background: linear-gradient(to right,#ff4081 0%,#1398d9 100%);
    border-radius: 36px;
    width: 100%;
    display: none;
    transition: none !important;
}
.percent{
    font-size: 12px !important;
    color: #a7b0b4;
}

/*COUNTER*/
#counter {
    width: 100%;
    height: 176.8px;
    background-color: #2d344d;
}
.counter-subblock{
    height: 176.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.counter-subblock:nth-child(2n){
    border-right: 1px solid rgba(255, 255, 255, 0.1); 
}
.counter-number{
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 68px;
    color: #fff;
}
.counter-text{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    letter-spacing: 1px;
}

/*PARTNERS*/
#partners{
    height: 277px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f3f3ed;
}
.partner-item{
    display: flex;
    justify-content: center;
}
.partner-item:hover{
    transition: 0.5s;
    opacity: 0.7;
    
}

/*LATEST*/
#latest {
    height: 732px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#latest > h1{
    margin-top: 80px;
    margin-bottom: 40px;
}
.latest-subblock{
    height: 452px; 
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-bottom: 100px;
}
.latest-subblock > p{
    font-family: 'Lato', sans-serif;
    color: #616161;
    font-size: 16px;
}
.subblock-bottom{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #a7b0b4;
    text-transform: uppercase;
}
.subblock-bottom > time:before{
    font-family: 'FontAwesome';
    content: "\f073";
    margin-right: 10px;
    font-size: 16px;
}
.subblock-bottom > a{
    color: #14a5eb;
}
.subblock-bottom > a:first-of-type:before{
    font-family: 'FontAwesome';
    content: "\f086";
    font-size: 16px;
    margin-right: 5px;
    margin-left: -50px;
    color: #a7b0b4;
}

/*SUBSCRIBE*/
#subscribe {
    height: 473px;
    background-image: url(../img/image-4.jpg);
    display: flex;
    align-items: center;
}
#subscribe-block{
    height: 237px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
#subscribe-block > h1{
    color: #fff;
}
#subscribe-block > p{
    font-family: 'Lato', sans-serif;
    color: #a7b0b4;
    font-size: 18px;
}
#subscribe-block > form{
    display: flex;
    justify-content: space-around;
}
#subscribe-input{
    width: 70%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid; 
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding-left: 30px;
    color: #fff;
}
#subscribe-input:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
#subscribe-input::placeholder{
    color: #fff;
}
#subscribe-btn{
    color: #fff;
    background-color: #14a5eb;
    border-radius: 40px;
    border: 3px solid transparent;
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.1em;
}
#subscribe-btn:hover{
    color: #14a5eb;
    border-color: #14a5eb;
    background-color: transparent;
    transition: .2s all ease;
}

#testimonials {
    height: 621px;
    border-bottom: 1px solid #f3f3ed;
}
#testimonials > h1{
    margin-top: 100px;
}
#testimonials > p{
    font-family: 'Lato', sans-serif;
    margin: 25px auto 0 auto;
    font-size: 17px;
    max-width: 600px;
    color: #616161;
}

/*SlIDER*/
.slider > div{
    height: 370px;   
}
.slider > div img{
   margin: 60px auto 18px auto;
}
.slider > div  h4, p{
    text-align: center;
}
.slider > div  h4{
    font-size: 16px;
    letter-spacing: 0.02em;
}
.slider > div p:first-of-type{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #a7b0b4;
    letter-spacing: 0.12em;
    font-size: 12px;
}
.slider > div p:nth-of-type(2){
    padding: 0 30px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 16px;
    color: #616161;
    text-align: center;
}
.slider-arrows{
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0 auto;
}
.slick-prev, .slick-next{
    position: static;
    color: #616161;
}
.slick-prev:before, .slick-next:before{
    font-family: 'FontAwesome';
    font-size: 38px;
    color: #616161; 
}
.slick-prev:before { 
    content: "\f104"; 
}
.slick-next:before { 
    content: "\f105";  
}

/*FOOTER*/
#footer {
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.footer-top-subblock{
    margin-top: 30px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-top-subblock > a{
    font-family: 'Pacifico',sans-serif; 
    font-size: 58px;
    letter-spacing: 2px;
}
.footer-top-subblock p{
    font-size: 18px;
    font-family: 'Lato';
    color: #616161;
}
.footer-top-subblock a:hover{
    color: #343842;
}
.footer-top-subblock ul {
    margin-top: 30px;
    padding: 0;
    width: 250px;
    display: flex;
    justify-content: space-around;
}
.footer-top-subblock ul li a{
    color: #e1e1e1;    
}
.footer-top-subblock ul li a:hover{
    color: #14a5eb;
}
.footer-top-subblock ul li a i{
    font-size: 25px;
}
#footer-bot{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #a7b0b4;
}
#footer-bot p{
    margin: 0;
}
#footer-bot a{
    color: #a7b0b4;
}
#footer-bot a:hover{
    color: #14a5eb;
    transition: 0.2s;
}

/*SCROLL TO TOP BUTTON*/
#btn-to-top {
    position: fixed;
    bottom: 40px;
    right: 43px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgb(20, 165, 235);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.109804) 0px 0px 2px 0px, rgba(0, 0, 0, 0.109804) 3px 4px 5px 0px;
    overflow-y: hidden;
    
    transition: all 0.3s linear; 
    transform: translateY(90px);
}
#btn-to-top:hover{
    background: rgb(18, 148, 211);
    transition: 0.2s;
}
#btn-to-top i{
    font-size: 15px;
    color: #fff;
}
.btn-scroll-display{
    display: block;
    transform: translateY(0px) !important;
} 
